*
{
    margin: 0;
 
    padding: 0;
}
/*------NavigationBar------/*/
body{
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(bb.jpg);
}
.right-menu li{
    display: inline-block;
    margin-top: 30px !important;
}

.right-menu li .fa{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    
    
}

#header ul li a{
    color: black !important;
}

.navbar-brand img{
    width: 120px;
}

.navbar-brand{
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    position: absolute;
    
}

.header{
    background: #fff;
    margin-bottom: 80px;
    
}

.navbar{
    padding: 0 35px !important;
}

.navbar-toggler{
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin-top: 30px;
    
}

.navbar-toggler .fa{
    font-size: 30px;
    cursor: pointer;
    
}
.h11{
     font-family: 'Courgette', cursive;
font-family: 'Lobster', cursive;
}

form{
         font-family: 'Courgette', cursive;
font-family: 'Lobster', cursive;
    margin: 
}


#footer{
    background: #333;
    color: #fff;
    padding: 12px;
    
}

.fa-heart-o{
    margin: 3px;
    color:#007bff;
}

.footer{
    width: 100%;
    background: #333;
    display: block;
}

.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.h1{
  padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    
}

.footer-items p{
    color:whitesmoke;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

.h2{
    margin: 10px 0;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}

ul{
    list-style: none;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a{
    text-decoration: none;
    outline: none;
    color:whitesmoke;
    transition: 0.3s;
}

ul a:hover{
    color: black;
      text-decoration: none;
}

ul li{
    margin: 10px 0;
    height: 25px;
}

li i{
    margin-right: 20px;
}

.social-media{
    width: 100%;
    color:black;
    text-align: center;
}

.social media a{
    text-decoration: none;
}

.social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.3s;
}

.social-media i:hover{
    background:white;
}

.footer-bottom{
    padding: 10px;
    color: white;
    background: #333;
    font-size: 17px;
    text-align: center;
}

@media screen and (max-width: 1085px){
    .footer-items{
        width:50%;
    }
}

@media screen and (max-width: 600px){
    .footer-items{
        width:100%;
    }
}


 
        <form name="faleBuffet">
            <label>Nome:</label>
            <input type="text" maxlength="100"  size="50" id="txtNome" name="txtNome" placeholder="Digite seu nome">
            <br>
              <label>Email:</label>
            <input type="email" maxlength="100"  size="50" id="txtEmail" name="txtEmail" placeholder="Digite seu email">
            <br>
            <label>Sexo:</label>
            <input type="radio" name="rdSexo" id="rdSexo">
            Masculino
               <input type="radio" name="rdSexo" id="rdSexo">
            Feminino
               <input type="radio" name="rdSexo" id="rdSexo">
            Outros
            <br>
            <label>Formação:</label>
            <select name="slcFormacao" id="slcFormacao">
                <option>Selecione</option>
                 <option>Selecione</option>
                 <option>Selecione</option>
                 <option>Selecione</option>
                 <option>Selecione</option>
            
            
            </select>
            <br>
            <label>Interesses:</label>
            <input type="checkbox" name="cckInte" id="cckInte"> Esportes 
            <input type="checkbox" name="cckInte" id="cckInte"> Esportes 
            <input type="checkbox" name="cckInte" id="cckInte"> Esportes 
            <br>
            <input type="button" value="Botão">
            <input type="reset" value="Cancelar">
            <input type="submit" value="Enviar">
            
        
        /form>